.inventory-card .p-card .p-card-body {
  padding-top: 0px;
  padding-bottom: 0px;
}

.inventory-action .p-button.p-button-icon-only {
  height: 2rem;
}

.inventory-action .p-button.p-button-icon-only.p-button-rounded {
  width: 2rem;
  height: 2rem;
}

.inventory-main .p-datatable .p-datatable-header {
  padding: 0.50rem;
}
