/* You can add global styles to this file, and also import other style files */

@import './assets/scss/theme-teal.css';

* {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.pp-container {
  margin: 0 auto;
  display: block;
  margin-bottom: 50px;
}

.main-toolbar {
  .p-toolbar {
    align-items: center;
    flex-wrap: nowrap;

    h4 {
      font-size: 18px;
    }
  }
}

.p-toolbar-group-left {
  margin-bottom: 12px;
}

.p-toolbar {
  padding: 0.50rem;
}

.p-inputtextarea {
  width: 100%;
}

.p-dropdown,
.p-inputtext,
.p-calendar,
.p-inputtextarea,
.p-multiselect {
  max-width: 450px;
  width: 100%;
}

.text-center {
  text-align: center;
}

.mandatoryfield {
  color: red;
  padding-left: 2px;
}
